# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want Git to handle line endings for.
*.html text
*.css text
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.md text

# Declare files that will always have LF line endings.
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
