
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function newDocHasValidUserId(userId) {
      return request.resource.data.userId == userId;
    }

    function userIdIsImmutable() {
      return request.resource.data.userId == resource.data.userId;
    }
    
    function newDocHasValidHabitId(habitId) {
      return request.resource.data.habitId == habitId;
    }

    function habitIdIsImmutable() {
      return request.resource.data.habitId == resource.data.habitId;
    }

    match /{path=**}/habitLogs/{habitLogId} {
      allow list: if isSignedIn() && request.query.where.userId == request.auth.uid;
    }
    
    match /users/{userId} {
      allow get: if isSignedIn();
      allow list: if false;
      allow create: if request.auth.uid == userId;
      allow update: if isOwner(userId) && resource != null && request.resource.data.id == resource.data.id;
      allow delete: if false;

      match /moodHistory/{moodLogId} {
        allow get: if isOwner(userId);
        allow list: if isOwner(userId);
        allow create: if isOwner(userId) && newDocHasValidUserId(userId);
        allow update: if isOwner(userId) && resource != null && userIdIsImmutable();
        allow delete: if isOwner(userId) && resource != null;
      }

      match /habits/{habitId} {
        allow get: if isOwner(userId);
        allow list: if isOwner(userId);
        allow create: if isOwner(userId) && newDocHasValidUserId(userId);
        allow update: if isOwner(userId) && resource != null && userIdIsImmutable();
        allow delete: if isOwner(userId) && resource != null;

        match /habitLogs/{habitLogId} {
          allow get: if isOwner(userId);
          allow list: if isOwner(userId);
          allow create: if isOwner(userId) && newDocHasValidHabitId(habitId);
          allow update: if isOwner(userId) && resource != null && habitIdIsImmutable();
          allow delete: if isOwner(userId) && resource != null;
        }
      }

      match /readingReflections/{reflectionId} {
        allow get: if isOwner(userId);
        allow list: if isOwner(userId);
        allow create: if isOwner(userId) && newDocHasValidUserId(userId);
        allow update: if isOwner(userId) && resource != null && userIdIsImmutable();
        allow delete: if isOwner(userId) && resource != null;
      }
    }
    
    match /emotionalReadings/{emotionalReadingId} {
      allow get: if true;
      allow list: if true;
      allow create: if false;
      allow update: if false;
      allow delete: if false;
    }
  }
}
