@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 255 60% 65%; /* Púrpura Índigo */
    --primary-foreground: 255 20% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 40 95% 65%; /* Dorado cálido */
    --accent-foreground: 40 50% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 255 60% 65%;
    --chart-1: 255 60% 65%;
    --chart-2: 265 65% 70%;
    --chart-3: 40 95% 65%;
    --chart-4: 245 55% 75%;
    --chart-5: 275 65% 80%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 255 60% 65%; /* Púrpura Índigo */
    --primary-foreground: 255 20% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 40 95% 65%; /* Dorado cálido */
    --accent-foreground: 40 50% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 255 60% 65%;
    --chart-1: 255 60% 65%;
    --chart-2: 265 65% 70%;
    --chart-3: 40 95% 65%;
    --chart-4: 245 55% 75%;
    --chart-5: 275 65% 80%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
     background-image: linear-gradient(135deg, hsl(240, 10%, 4%), hsl(260, 20%, 8%), hsl(220, 25%, 6%), hsl(240, 10%, 4%));
  }
}
